* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    background-color: rgb(0, 0, 0);
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: center;
}

.nav span {
    color: snow;
    font-size: 2.5rem;
    text-shadow: rgb(143, 206, 0, 0.5) 1px 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    margin: 0 0 0 0 auto;
}

.nav span:hover {
    text-shadow: rgb(143, 206, 0, 1) 1px 0 15px;
}

.ul1 {
    margin: 0 0 0 auto;
    padding-right: 1rem;
}


.nav .ul1 {
    list-style: none;
    display: flex;
    gap: 1rem;
}


.ul1 .li1, .li2, .li3, i{
    font-size: 1.7rem;
    color: snow;
    font-family: 'Montserrat', sans-serif;
}

.li2 {
    text-decoration: line-through;
    color: darkgray;
}

.dropdown-content {
    position: absolute;
    display: none;
    width: 5.3rem;
    z-index: 1;
    color: snow;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px whitesmoke;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    color: snow;
    font-size: 1.2rem;
    padding: 1rem;
}

.dropdown-content #email {
    text-shadow: rgb(0, 255, 85) 0 0 20px;
}

.dropdown-content #twitter {
    text-shadow: rgb(0, 174, 255) 0 0 20px;
}

.dropdown-content #instagram {
    text-shadow: rgb(247, 0, 255) 0 0 20px;
}

.li1:hover .dropdown-content {
    display: block;
}

.search-field {
	background-color: transparent;
	background-image: url(logo/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 2.4rem 2.4rem;
	border: none;
	cursor: pointer;
	height: 3rem;
	margin: 0.3rem 0;
	padding: 0 0 0 3.4rem;
	position: relative;
	transition: 0.5s ease-in-out;
    border-radius: 10px;
	width: 0px;
    cursor: pointer;
}

.search-field:focus {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 0 0 3.5rem;
    cursor: text;
    outline: 0;
    width: 15rem;
    color: snow;
    font-size: 1.5rem;
}

.search-form .search-submit { 
    display:none;
}


/* media querys for screen sizes */

/* 320px — 480px: Mobile devices */

@media (max-width:510px) {
    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .ul1 {
        margin: 0;
        padding-right: 1rem;
    }

    .span-for-header {
        width: 100%;
        text-align: center;
        margin: 0 0 1rem;
    }
}

/* 481px — 768px: iPads, Tablets */



/* 769px — 1024px: Small screens, laptops */



/* 1025px — 1200px: Desktops, large screens */

